
.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right {
    display: flex;
    flex: 1; 
    align-items: center;
    justify-content: center;
     font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    display: flex;
    gap: 2rem;
    margin: 4rem;
    cursor: pointer;
}

.n-list>ul>li:hover {
    cursor: pointer;
    color: var(--orange)
}

.n-button {
    flex: 2;
}

@media screen and (max-width:480px) {
    .n-list {
        /* display: none; */
        /* grid-template-columns: 1fr 1fr; */

    } 
/* .full-nav{
    transform: scale(0.8);
} */
    /* .n-button {
        display: none;
    } */
}


/* .n-list>ul{
    display: flex;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    // 3 btn 
    transition: 0.7s;
    cubic-bezier(
        .74,-0.03,0.83,0.67
        )
        overflow-y:hidden
}

@media screen and (max-width:800px) {
    .cantainer{
grid-template-columns: 1fr 1fr;
    }

    
} */